    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>{{ 'Services' | trans }}</h2>
        </div>

        <div class="row">
          <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon text-center"><i class="{{ 'services.icon1'|trans }}"></i></div>
              <h4><a href="">{{ 'services.title1'|trans|raw }}</a></h4>
              <p>{{ 'services.description1'|trans }}</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon text-center"><i class="{{ 'services.icon2'|trans }}"></i></div>
              <h4><a href="">{{ 'services.title2'|trans|raw }}</a></h4>
              <p>{{ 'services.description2'|trans }}</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon text-center"><i class="{{ 'services.icon3'|trans }}"></i></div>
              <h4><a href="">{{ 'services.title3'|trans|raw }}</a></h4>
              <p>{{ 'services.description3'|trans }}</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
            <div class="icon-box">
              <div class="icon text-center"><i class="{{ 'services.icon4'|trans }}"></i></div>
              <h4><a href="">{{ 'services.title4'|trans|raw }}</a></h4>
              <p>{{ 'services.description4'|trans }}</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->