<!-- ======= Header ======= -->
{% set langs = {"es": "fi-es", "en": "fi-us"} %}
  <header id="header" class="fixed-top header-scrolled">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="{{  path('home') }}">LunarLab</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">{{ 'Home' | trans }}</a></li>
          <li><a class="nav-link scrollto" href="#about">{{ 'About' | trans }}</a></li>
          <li><a class="nav-link scrollto" href="#services">{{ 'Services' | trans }}</a></li>
          {#<li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
            </ul>
          </li>#}
          <li><a class="nav-link scrollto" href="#contact">{{ 'Contact' |trans }}</a></li>
          {% if is_granted('IS_AUTHENTICATED_FULLY') %}
          <li><a class="nav-link scrollto" href="{{ path('app_logout') }}">{{ 'Logout' |trans }}</a></li>
          {% endif %}
          <li>
              {% for lang, flag in langs %}
                {% if lang != app.request.getLocale() %}
                  <a class="nav-link scrollto" href="?lang={{ lang }}"><span class="fi {{ flag }}"></span></a>
                {% endif %}
              {% endfor %}
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header>
  <!-- End Header -->